
body{
background-color:rgba(51, 43, 43, 0.815);
}


 h1{
color:rgba(2, 2, 2, 0.945) ;
font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
background:rgba(255, 0, 50, 50) ;
}


p{
color:rgba(110, 60, 143, 0.699) ;
font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
font-size: 20px;
background: #1e1f1fe7;
}