
body{
background-color:rgba(3, 3, 3, 0.719);
}


 h1{
color:rgba(155, 168, 175, 0.692) ;
font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
background:rgb(116, 86, 5) ;
}


p{
color:rgba(31, 29, 32, 0.959) ;
font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
font-size: 20px;
background: rgba(225, 0, 255, 0.247);
}