
body{
background-color:rgba(56, 53, 53, 0.925);
}


 h1{
color:rgba(2, 2, 2, 0.945) ;
font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
background:rgba(255, 0, 50, 50) ;
}


p{
color:rgba(95, 95, 3, 0.966) ;
font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
font-size: 20px;
background: #1e1f1fe7;
}